%h3.form_header
  ='Welcome to Patient Cloud'
%p.form_instruction
  ='You are only a few steps away from creating your log in credentials and downloading the Patient Cloud app.'
.row
  .col-xs-4
    =image_tag 'register.png', class: 'landing-img', id: 'register'
  .col-xs-8
    %p='Review the Privacy Policy and Terms of Use'
    %p='Create account information'
.row
  .col-xs-4
    =image_tag 'download.png', class: 'landing-img', id: 'download'
  .col-xs-8
    %p
    %p='Download the Patient Cloud app'
.row
  .col-xs-4
    =image_tag 'login.png', class: 'landing-img', id: 'login'
  .col-xs-8
    %p='Open Patient Cloud and use your account information to log in'
