%h3.form-header
  =t("registration.form_heading")
%p.form-instruction
  =t("registration.welcome.welcome_message")
.row
  .col-xs-2
    =image_tag 'register.png', id: 'register'
  .col-xs-8
    %p=t("registration.welcome.register_1")
    %p=t("registration.welcome.register_2")
.row
  .col-xs-2
    =image_tag 'download.png', id: 'download'
  .col-xs-8
    %p
    %p= t("registration.welcome.download")
.row
  .col-xs-2
    =image_tag 'login.png', id: 'login'
  .col-xs-8
    %p=t("registration.welcome.login")

%a.btn.btn-primary.btn-block#next-landing(href="#registration-details" role="button")=t("application.btn_next")