%h2.form_header='Security Question'
.form_instruction
  ='Select a '
  %strong='security question.'
  %br
= fields_for @patient_enrollment do |f|
  = f.select :security_question, @security_questions, {include_blank: 'Security Question'}, {class: 'form-control'}
  %br
  
  = f.label :answer, 'Security Answer'
  %br
  = f.text_field :answer, class: 'registration-input', placeholder: 'Enter your response to the question'
  %br

