%h3.form_header{:dir => "#{@script_direction}"}= t("registration.terms_of_use.tou_header")
- if @tou_dpn_agreement_body.present?
  .tou_dpn_agreement{style: "direction: #{@script_direction}"}= @tou_dpn_agreement_body
