%h3.form-header='Privacy Policy / Terms of Use'
- if @tou_dpn_agreement_body.present?
  .tou_dpn_agreement{style: "direction: #{@script_direction}"}= @tou_dpn_agreement_body
%a.btn.btn-primary.btn-block#next-agree(href="#registration-details" role="button")='I agree'