- content_for :page_body do
  .header
    =image_tag 'Medidata_Logo_white_RGB_2.png'

  %p#download-instruction= t("registration.download.header")
  =image_tag 'Progress_bar_download.png', id: 'progress-img'
  .downloads
    %a.download-android
      =image_tag 'app_badge_google.png', class: 'badge-img', id: 'android-badge'
      %span.sr-only='Download for Android'
    %a.download-ios(href='https://itunes.apple.com/app/patient-cloud/id554170114?mt=8')
      =image_tag 'app_badge_ios.png', class: 'badge-img', id: 'ios-badge'
      %span.sr-only='Download for iOS'
  #login-screen-img
    =image_tag 'phone.png'
