- content_for :page_body do
  .header
    %a.back_arrow.pull-left
      %i.fa.fa-angle-left
      %span.sr-only='Back'
    =image_tag 'Medidata_Logo_white_RGB_2.png'
    %span.forward_arrow.pull-right
      %i.fa.fa-angle-right
      %span.sr-only= 'Forward'
  %p
  #download-instruction="Congratulations, you are registered as a participant in this study. Now it's time to download the Patient Cloud app."
  %a.download-link(role="dialog" data-toggle='modal' data-target='#downloadModal')
    =image_tag 'Progress_bar_download.png', id: 'progress-img'
    =image_tag 'App_Store_Badge_US-UK.svg', id: 'badge-img'
    =image_tag 'Log_in_Screen.jpg', id: 'login-screen-img'
  .modal.fade#downloadModal
    .modal-dialog
      .modal-content
        .modal-body
          ='Download the Patient Cloud app from the app store?'
        .modal-footer
          %span.btn.modal-btn#cancel-btn='Cancel'
          %span.btn.modal-btn#open-btn
            %strong='Open'
