/ Note: This failed because login_confirmation wasn't a defined PatientEnrollment attribute
/ It should have failed for password_confirmation for the same reason. It didn't. Why?

- content_for :page_body do
  .top
    %span.center='medidata'
    %span.forward='?'
  %br
  
  %h2.registration_details='Registration Details'
  
  .instruction='Just some placeholder text. Click the button to see the first part of the form!'
  /.hide
  .form-content
    = form_tag @patient_enrollment
    .instruction.hide
    .modal#email(role="dialog")
      = render 'email_form'
    .modal#password(role="dialog")
      = render 'password_form'
    .modal#security-question(role="dialog")
      = render 'security_question_form'
  .next
    .btn.btn-primary.trigger(data-toggle="modal" data-target="#email")='Next'
  .bottom
    %span.back
      %a='<'
    %span.center
    %span.forward='>'