/ Note: This failed because login_confirmation wasn't a defined PatientEnrollment attribute
/ It should have failed for password_confirmation for the same reason. It didn't. Why?

- content_for :page_body do
  .top
    %span.center
      =image_tag 'Medidata_Logo_white_RGB 2.png'
    %span.forward='?'
  %br
  
  %h2.registration_details='Registration Details'
  
  = form_tag @patient_enrollment
  .carousel.slide#registration-details(data-interval="false")
    .carousel-inner(role="listbox")
      .item.active
        = render 'email_form'
      .item
        = render 'password_form'
      .item
        = render 'security_question_form'
  .next
    %a.btn.btn-primary(href="#registration-details" data-slide="next" role="button")='Next'
  .bottom
    %span.back
      %a='<'
    %span.center
    %span.forward='>'