- content_for :page_header_text do
  %h3= t('medidations.new.new_medidation')

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  #notice= notice
  
  = render 'form'
