- content_for :page_body do
  %div{class: "error_dialog error"}
    .explanation_text
      %h1= @error_title
      %div
        = @error_message
      %br
      %div
        #ampridatvir_error_page
    .fa#clipboard_image
      = image_tag('error_img.png')
