- content_for :page_header_text do
  %h3= 'Patient Registration'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  %h4 This web site is still under constrution.
  %p.construction Please come back ... later ...x
