%div.activation_code
  %h4.code_enter="Enter Activation Code"
  %input.code
  %input.code
  %input.code
  %input.code
  %input.code
  %input.code
  %div.code_instruction="If you have already registered please login here. If you have not registered and do not have an activation code, please contact your doctor."