.panel-heading
  %h3 HTML 5 Form Features
  %p HTML5 introduces many great new features to html forms like new input types, placeholder text and built in validation. However, there are still browser support issues involved. IE 8 does not support many of these new features and it is not as simple to polyfill for these as it is for other new html elements. This page will demonstrate some of the new HTML5 form features and can be used as a basic cross-browser test page. For more information on browser support, we highly suggest visiting <a href="http://caniuse.com">caniuse.com</a>

.panel-body.sandman-docs
  %ul.list-unstyled
    %li.row
      .col-sm-4
        %h4 Placeholder Attribute
        %input.form-control{type: 'text', placeholder: 'Placeholder Text'}
        %span.help-block code sample here
        %p MCC POLYFILL
      .col-sm-4
        %h4 Datepicker
        %input.form-control{type: 'date'}
        %span.help-block code sample here
        %p MCC POLYFILL/COMPONENT
      .col-sm-4
        %h4 Validation
        %p All fields use the required attribute
        %form
          .form-group
            %label Email Address
            %input.form-control{type: 'email', required: true}
            %span.help-block code sample here
          .form-group
            %label Web Address
            %input.form-control{type: 'url', required: true}
            %span.help-block code sample here
          .form-group
            %label Numbers
            %input.form-control{type: 'number', required: true}
            %span.help-block code sample here
          %input.btn.btn-default{type: 'submit', required: true}
        %p MCC POLYFILL/COMPONENT
    %li.row
      .col-sm-4
        %h4 Number Inputs
        .form-group
          %label As spinboxes
          %input.form-control{type: 'number', min: 2, max: 10, step: 2, value: 6}
          %span.help-block code sample here
        .form-group
          %label As sliders
          %input{type: 'range', min: 2, max: 10, step: 2, value: 6}
          %span.help-block DOES NOT USE .form-control
      .col-sm-4
        %h4 Search Boxes
        %form
          %input{type: 'search', name: 'q'}
          %input{type: 'submit', value: 'Go'}
