.panel-heading
  %h3 Form Layout
  %p Accepted form layouts agreed upon by the UX adn UI team
  %ul
    %li Use of .form-group
    %li Max columns
    %li Button Placement
    %li Contained in Panel
    %li Form Tag Placement
    %li Validation
    %li Horizontal Forms - Single Col only?

.panel-body.sandman-docs
  %ul.list-unstyled
    %li.row
      %h4 2 column
      %form
        .form-group.col-sm-6
          %label Field Label
          %input.form-control{type: 'text'}
        .form-group.col-sm-6
          %label Field Label
          %input.form-control{type: 'text'}

    %li.row
      %h4 3 column
      %form
        .form-group.col-sm-4
          %label Field Label
          %input.form-control{type: 'text'}
        .form-group.col-sm-4
          %label Field Label
          %input.form-control{type: 'text'}
        .form-group.col-sm-4
          %label Field Label
          %input.form-control{type: 'text'}
    %li.row
      %h4 1 column
      .col-sm-8
        %h5 Horizontal
        %form.form-horizontal
          .form-group
            %label.col-sm-4.text-right Field Label
            .col-sm-6
              %input.form-control{type: 'text'}
          .form-group
            %label.col-sm-4.text-right Field Label long
            .col-sm-6
              %input.form-control.col-sm-4{type: 'text'}
          .form-group
            %label.col-sm-4.text-right Field Label much longer
            .col-sm-6
              %input.form-control{type: 'text'}
          .form-group
            .col-sm-offset-4.col-sm-6
              %button.btn.btn-primary Submit
              %button.btn.btn-default Cancel
    %li.row
      .col-sm-6
        %h5 Vertical
        %form
          .form-group
            %label Field Label
            %input.form-control{type: 'text'}
          .form-group
            %label Field Label
            %input.form-control{type: 'text'}
          .form-group
            %label Field Label
            %input.form-control{type: 'text'}


          .form-group
            %button.btn.btn-primary Submit
            %button.btn.btn-default Cancel

