- content_for :page_header_text do
  %h3= 'CDN Hosted Assets'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  %p All the platform assets are available via Amaszon S3 and CloudFront CDN urls. For production application using the CDN hosted assets is a requirement.

  %p Access assets at:
  :kramdown
    ~~~
    //dsw6ye8s2ocl7.cloudfront.net/<sandman version>/<asset file name>
    ~~~

  %p You can upload assets to the mdsol-resources s3 bucket, under the following path:
  :kramdown
    ~~~
    /apps/<app oid>/<app stage>/
    ~~~

  %p And then access them via
  :kramdown
    ~~~
    //dsw6ye8s2ocl7.cloudfront.net/apps/<app oid>/<app stage>/<asset file name>
    ~~~

