- content_for :page_header_text do
  %h3 Datepicker

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  .panel.panel-default
    .panel-heading
      %h3 Basic Usage
    .panel-body
      %p To add the datepicker stylesheets use
      :kramdown
        ~~~
        stylesheet_link_tag 'datepicker3'
        ~~~
      %p And use this to add the javascript required for the datepicker
      :kramdown
        ~~~
        javascript_include_tag 'bootstrap-datepicker'
        ~~~
      %p Optionally, for more locales, include the locale's particular js file (the example here is for Japanese)
      :kramdown
        ~~~
        javascript_include_tag 'bootstrap-datepicker.ja'
        ~~~
      For more information do check out the documentation at
      %a{ href: 'http://bootstrap-datepicker.readthedocs.org/en/release/' } Bootstrap Datepicker

  .panel.panel-default
    .panel-heading
      %h3 Basic Datepicker
    .panel-body
      %p
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          %input.form-control.datepicker{ placeholder: 'mm/dd/yyyy', data: { provide: 'datepicker' }}
      :kramdown
        ~~~ html
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
          <input class="form-control datepicker" placeholder="mm/dd/yyyy" data-provide="datepicker">
        </div>
        ~~~

- content_for :javascript do
  = javascript_include_tag 'bootstrap-datepicker'
