- content_for :page_header_text do
  %h3= 'Bootstrap modals'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  .panel.panel-default
    .panel-heading
      Bootstrap modals
    .panel-body
      %button.btn.btn-default{data: { toggle: 'modal', target: '#demo-modal' } }
        Open modal
  #demo-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type:"button", data:{ dismiss: "modal" } }
            %span{'aria-hidden'=> "true"}
              &times;
            %span.sr-only
              Close
          The markup for a modal
        .modal-body
          :kramdown
            ~~~ haml
              #demo-modal.modal.fade
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{type:"button", data:{ dismiss: "modal" } }
                        %span{'aria-hidden'=> "true"}
                          &times;
                        %span.sr-only
                          Close
                      This is the modal header
                    .modal-body
                      This is the modal mody
                    .modal-footer
                      %button.btn.btn-default{ data: { dismiss: 'modal' } }
                        Close
            ~~~
        .modal-footer
          %button.btn.btn-default{ data: { dismiss: 'modal' } }
            Close

