.btn-group.filters
  .btn-group
    %a.btn.btn-default.disabled.selected.white#all_filter{type: "button", href: "#{}"} All (500)
    %a.btn.btn-default#active_filter{type: "button", href: "#"}
      %i.icon.icon-active
      Active (172)
    %a.btn.btn-default#locked_filter{type: "button", href: "#"}
      %i.fa.fa-lock
      Locked (164)
    %a.btn.btn-default#inactive_filter{type: "button", href: "#"}
      %i.icon.icon-inactive
      Inactive (164)
