.paginate.clearfix
  .total-results
    %b 500
    Total Result(s)
  .per-page
    %span Per page
    %ul
      %li
        %a#per_page_10{href: '#'} 10
      %li
        %a.selected.disabled#per_page_25{href: '#'} 25
      %li
        %a#per_page_50{href: '#'} 50
      %li
        %a#per_page_100{href: '#'} 100
  %ul.controls
    %li
      %a.disabled.first{href: '?page=1&per_page=10'}
        %i.fa.fa-angle-double-left
        first
    %li
      %a.disabled.previous{href: '?page=1&per_page=10'}
        %i.fa.fa-angle-left
        previous
    %li.counter
      %form#page_form{action: '/', method: 'get', novalidate: 'novalidate', 'accept-charset' => 'UTF-8'}
        %div{style: 'margin:0;padding:0;display:inline'}
        %input{name: 'utf8', type: 'hidden', value: '✓'}
        %input{name: 'per-page', type: 'hidden', value: '25'}
        %input{name: 'filter_by', type: 'hidden', value: 'all'}
        %input{name: 'sort_by', type: 'hidden', value: 'protocol_id,ASC'}
        %input.current_page.validPageNumber#current-page{name: 'page', size: '2', type: 'text', value: '1', maxlength: '2', autocomplete: 'off'}
        of
        %span.total-pages#total-pages 20
    %li
      %a.next{href: '?page=2&per_page=10'}
        %i.fa.fa-angle-right
        next
    %li
      %a.last{href: '?page=5&per_page=10'}
        %i.fa.fa-angle-double-right
        last
        
