- search_by = [['Search by All', 'all'],['Search by Protocol ID', 'protocol_id'],['Search by Name', 'name'],['Search by Indication', 'indication'],['Search by Phase', 'phase']]
%form.search.input-group
  -# Hidden Fields
  %span.input-group-btn
    %button.btn.btn-default.dropdown-toggle{name: 'search_by_attribute', data: { toggle: 'dropdown'}}
      = search_by[0][0]
      %span.caret
    %ul.dropdown-menu{role: 'menu', aria:{labelledby: 'dropdownmenu'}}
      - search_by.each do |menu_item|
        %li
          %a{href: '#', data: {value: menu_item[1]}}= menu_item[0]
  %input.form-control{type: 'text', maxlength: 255, name: 'search_by', placeholder: 'search', title: 'EMPTY TITLE', data:{ original: {title: 'Find a blah blah blah'}}}
  %span.input-group-btn
    %button.btn.btn-default.disabled{ type: 'submit', disabled: true}
      .fa.fa-search
      %span.sr-only Search

