.mixin-text-overflow
  %p.text-info
  %p.test{title: 'Fusce commodo libero id condimentum varius. Mauris lacus massa, facilisis ut massa non, ornare posuere dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;'} Fusce commodo libero id condimentum varius. Mauris lacus massa, facilisis ut massa non, ornare posuere dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
