- menu_items_array = [{ label: 'Header', header: true }, '|', { label: 'List Item', icon: 'fa fa-cogs', href:'#' }]

= dropdown "Dropdown", menu_items_array, id: 'dropdown', class: 'optional'

%br
%p
  %b NOTE: 
  %br
  menu_items_array = [{ label: 'Header', header: true }, '|', { label: 'List Item', icon: 'fa fa-cogs', href:'#' }]
