.activation-header {
  padding: 10px;
  img {
    width: 100%;
  }
}

.activation-code-content {
  text-align: center;
  h3 {
    font-size: 140%;
  }
  p {
    margin: 0 35px;
    // text-align: left
  }
  input {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 150%;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  .btn-block {
    width: 50%;
    margin: 0 auto;
  }
  .activation-code.has-error {
    input {
      border: 1px solid red;
    }
  }
  .validation_error {
    display: none;
    margin-bottom: 10px;
    color: red;
  }
}
