$desktop: 368px;
body {
  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    #main {
      width: $desktop;
      margin: 0 auto;
      position: relative;
      height: 768px;
      .patient {
      }

      .carousel {
        margin-top: 10px;
      }
    
    } 

    background-color: #ddd;

    .header {
      position: static;
    }
    .next {
      position: absolute;
      bottom: 0;
    }
  } 
}
  