$desktop: 368px;
body {
  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    #main {
      width: $desktop;
      margin: 0 auto;
      position: relative;
      height: 768px;
      .carousel {
        margin-top: 10px;
      }
    } 
    background-color: #ddd;
    .header {
      position: static;
    }
    .navbar-fixed-bottom {
      position: absolute;
      bottom: 0;
    }
  } 
}

.lt-ie9 {
  body {
    background-color: #ddd;
  }
  #main {
    position: relative;
    width: $desktop;
    margin: 0 auto;
    .carousel {
        margin-top: 10px;
      }
    .header {
      position: static;
    }
    .navbar-fixed-bottom {
      position: absolute;
      bottom: 0;
    }
  }
}