$desktop: 400px;

body {
  @media screen and (min-width: $desktop), (min-resolution: 1dppx) {
    &.registration {
      background-color: #eee;
    }
    .patient {
      min-height: 500px;
      width: $desktop;
      margin: 0 auto;
      border: 1px solid #ddd;
      background-color: #fff;
    }
  }
}

// .lt-ie9 {
//   body {
//     background-color: #ddd;
//   }
//   #main {
//     position: relative;
//     width: $desktop;
//     margin: 0 auto;
//     height: 740px;
//     .carousel {
//         margin-top: 10px;
//       }
//     #tou_dpn_agreement {
//       height: $desktop - 160;
//       overflow-y: scroll;
//     }
//     .header {
//       position: static;
//     }
//     .navbar-fixed-bottom {
//       position: absolute;
//       bottom: 0;
//     }
//   }
//   #landing_page {
//     .row {
//       div {
//         img {
//           width: auto;
//           max-width: 60px !important;
//         } 
//       }
//     }
//   }
// }
