.mixins {
  padding: 10px;
  .mixin {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    @include clearfix();
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h3.heading {
      margin: 0;
      border-bottom: 1px solid #333;
      padding-bottom: 3px;
    }
    .code, .description  {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .code {
      border-right: 1px dotted #ccc;
    }
    .example {
      @include clearfix();
      padding-top: 10px;
      border-top: 1px dotted #ccc;
    }
  }
  // mixin demos
  .mixin-text-overflow {
    p.test {
      @include text-overflow();
      width: 300px;
    }
  }

  .mixin-clearfix {
    background-color: #fee;
    .box-outer {
      border: 1px solid red;
      @include clearfix();
      padding: 10px;
      .box-inner {
        border: 1px solid green;
        float: left;
        width: 40%;
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
  }

  .mixin-center-block {
    width: 300px;
    @include center-block();
    background-color: #fee;
    border: 1px solid red;
    padding: 10px;
    font-weight: bold;
  }

  .mixin-size {
    background-color: #fee;
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    &.one {
      @include size(300px, 100px);
    }
    &.two {
      @include size(400px, 50px);
    }
    &.three {
      @include size(100px, 200px);
    }
  }
  .mixin-square {
    background-color: #fee;
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    &.one {
      @include square(100px);
    }
    &.two {;
      @include square(50px);
    }
    &.three {
      @include square(200px);
    }
  }

  .mixin-border-radius {
    div {
      background-color: #fee;
      border: 1px solid red;
      @include square(100px);
      display: inline-block;
      margin-right: 30px;
      text-align: center;
      font-weight: bold;
      &.all {
        @include border-radius(10px);
      }
      &.top {
        @include border-top-radius(10px);
      }
      &.right {
        @include border-right-radius(10px);
      }
      &.bottom {
        @include border-bottom-radius(10px);
      }
      &.left {
        @include border-left-radius(10px);
      }
    }
  }

  .mixin-rotate {
    div {
      background-color: #fee;
      border: 1px solid red;
      @include square(100px);
      display: inline-block;
      margin-right: 30px;
      text-align: center;
      font-weight: bold;
    }
    .ninety {
      @include rotate(90deg);
    }
    .one-eighty{
      @include rotate(180deg);
    }
    .two-seventy {
      @include rotate(270deg);
    }
  }

  .mixin-opacity {
    div {
      background-color: #fee;
      border: 1px solid red;
      @include square(100px);
      display: inline-block;
      margin-right: 30px;
      text-align: center;
      font-weight: bold;
    }
    .seventy {
      @include opacity(0.7);
    }
    .fifty {
      @include opacity(0.5);
    }
    .twenty {
      @include opacity(0.2);
    }
  }

}
