// Download page styling
//
#download-instruction {
  font-size: 1.33em;
  text-align: center;
  padding: 15px 15px 0px;
}

#progress-graphic {
  margin: 15px;
  .progress-item {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 20%;
    img {
      height: 60px;
    }
    .caption {
      font-size: 1.33em;
      display: block;
      padding-top: 5px;
    }
  }
  .gray-line {
    width: 17%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    border-top: 1px solid $light-warm-gray;
  }
}

#download-links {
  margin: 0px auto;
  display: table;
}

#login-screen-img {
  img {
    max-width: 60%;
    display: block;
    margin: 0px auto;
  }
}
