// Custom minotaur styles
//
// TODO refactor when sandman updates
.panel-heading {
  background-color: #f5f4f2 !important;
}

body {
  color: #666;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

h1 {
  font-size: 150%;
  color: #29DDC0;
  line-height: 1.5em;
  font-weight: normal;
}

a {
  color: #428bca;
  text-decoration: none;
}
