// Custom minotaur styles
//
body {
  color: #666;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 150%;
  color: #29DDC0;
  line-height: 1.5em;
  font-weight: normal;
}

a {
  color: #428bca;
  text-decoration: none;
}

.gold {
  color: $gold;
}

.ocean {
  color: $ocean
}

.light-warm-gray {
  color: $light-warm-gray;
}
