#invite-form {
  .form-group {
    margin-right: 10px;
    min-width: 145px;
    label { display: block; }
    select, input { width: 100%; }
  }
  .required label:after {
    color: #a94442;
    content: ' *'
  }
}

.validation_error {
  margin-right: 15px;
  color: red;
}

@media (max-width: 1200px) {
  .form-inline .form-group {
    display: block;
    margin-bottom: 15px;
  }
}