// #main, body, html {  
//   background-color: #fff !important;
//   min-height: 500px;
//   height: 100%;
//   position: relative;
// }

.header {
  border-radius: 0;
  background-color: #002855;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  padding: 5px 0 10px;
  height: 50px;
  .forward_arrow {
    padding-right: 15px;
    color: #999999;
  }
  .back_arrow {
    padding-left: 15px;
    color: #ffffff;
  }
  img {
    vertical-align: top;
    margin-top: 5px;
  }
}

.patient {  
  form {
    padding: 0 20px;
    .carousel {
      margin-top: 60px;
      padding-bottom: 70px;
    }
    .tou_dpn_agreement {
      padding-bottom: 70px;
    }
  }
  h3 {
    margin-top: 10px;
    font-weight: 200;
    font-size: 165%;
  }
}

// Top progress bar
// .progress {
//   padding-top: 3px;
//   background-color: #fff;
//   border-radius: 0;
//   border: none;
//   // margin-top: 10px;
//   margin-bottom: 5px;
//   height: 10px;
//   .progress-bar-default {
//     width: 24.25%;
//     height: 5px;
//   }
//   .progress-bar-incomplete {
//     background-color: #999999;
//     width: 24.25%;height: 5px;
//   }
//   .progress-bar-spacer {
//     background-color: #ffffff;
//     width: 1%;
//   }
// }

.bottom-bar {
//   background-color: #fff;
//   padding: 10px;
//   margin: 0 -10px;
//   border-top: 1px solid #ccc;
//   // border-radius: 0;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
  .btn-block {
    margin: 0 auto;
    max-width:48%;
    font-size: 18px;
//     // Bootstrap override for button margins
    &+.btn-block {
      margin-top: 0;
    }
  }
}

.download-link {
  display: block;
  img {
    display: block;
    width: 100%;
    &#badge-img {
      width: auto;
    }
    &#login-screen-img {
      width: 90%;
    }
  }
}

#landing_page {
  font-size: 16px;
  .row {
    margin-top: 20px;
    div {
      padding-right: 0;
      img {
        width: 100%;
        max-width: 60px !important;
      } 
    }
  }
  p {
    vertical-align: center;
  }
}

#download-instruction {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

#progress-img {
  display: block;
  width: 90%;
  margin: 20px auto;
}
label.invalid {
  color: red;
}

input.invalid {
  background-color: #dddddd;
  border: 1px solid red;
}

.validation_error {
  color: red;
}

.downloads {
  text-align: center;
  a {
    display: inline-block;
    margin: 0 10px;
  }
}

#login-screen-img {
    margin-top: 50px;
  img {
    margin: 0 auto;
    width: 90%;
    display: block;
      
  }
}

// TODO: Refactor away these presentational classes
//
.pull-none {
  float: none
}

.margin-bottom-thirty {
  margin-bottom: 30px;
}

.light-grey-border {
  border: 1px solid #ccc;
}
