.header {
  border-radius: 0;
  background-color: #002855;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  padding: 5px 0 10px;
  height: 50px;
  .forward_arrow {
    padding-right: 15px;
    color: #999999;
  }
  .back_arrow {
    padding-left: 15px;
    color: #ffffff;
  }
  img {
    vertical-align: top;
    margin-top: 5px;
  }
}
