/* TODO: Remove me when sandman rails is updated to 0.5.3 */
#help {
  display: none;
}

#invite-form {
  .form-group {
    margin-right: 15px;
    min-width: 200px;
    label { display: block; }
    select, input { width: 100%; }
  }
  .required label:after {
    color: #a94442;
    content: ' *'
  }
}

#patient-list {
  h5 {
	  margin-top: 15px;
  }
  .bottom {
    margin-bottom: 15px;
    #pagination-control {
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid gray;
    }
    .btn {
      margin: 0px;
    }
  }
}
