#invite-form {
  .form-group {
    margin-right: 10px;
    width: 215px;
    label { display: block; }
    select, input { width: 100%; }
  }
  .required label:after {
    color: #a94442;
    content: ' *'
  }
}

// TODO: Refactor away these presentational classes
.pull-none {
  float: none
}

.margin-bottom-thirty {
  margin-bottom: 30px;
}

.light-grey-border {
  border: 1px solid #ccc;
}

@media (max-width: 1200px) {
  #invite-form {
    .form-group {
      display: block;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
