// Example of mixins in action
//body {
//  @include square(10px);
//  @include border-radius(5px);
//}

$width: 375px;
$height: 667px;
$inputWidth: $width/9;
$logoWidth: $width*0.9;
$global_lr_margin: $width/30;
$global_tb_margin: $width/48;

#main {
  height: 100%;
  background-color: #555555;
}

.patient {
  position: fixed;
  width: $width;
  height: $height;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -($height/2);
  margin-left: -($width/2);
}

h2 {
  color: #002855;
}

ul {
  margin-left: -$width/15; //prevent bullet indent
}

.password_instructions {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: dot;
}

.item, .activation-code-content {
  margin: $global_lr_margin;
}

.code {
  width: $inputWidth;
  height: $inputWidth;
  background-color: #dddddd;
  border-radius: 2px;
  border: 0px;
  font-size: 24px;
  margin: ($inputWidth/7);
  text-align: center;
}

#progress-img {
  padding-left: 5%;
  width: 95%;
}

#badge-img {
  width: 75%;
  padding: 20px 0 20px 25%;
}

label.invalid {
  color: red;
}

input.invalid {
  background-color: #dddddd;
  border: 1px solid red;
}

.registration-input {
  background-color: #dddddd;
  border-color: transparent;
  padding: 12px;
  color: #333333;
}

.header {
  position: relative;
  background-color: #002855;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  padding: 5px 0 10px;
  .help {
    padding-right: 10px;
  }
}

.activation-header {
  position: relative;
  text-align: center;
}

#download-instruction {
  font-size: 18px;
  margin: $global_lr_margin;
  text-align: center;
}

.btn-block {
  height: $height/13;
  font-size: 22px;
}

.next {
  padding: 10px;
  position: absolute;
  border-top: 1px solid #bbbbbb;
  bottom: $height/10;
  width: $width;
}

.footer {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #eeeeee;
  
  
  height: $height/13;
  width: 100%;
  .forward_arrow, .back_arrow {
    font-size: 34px;
    color: #999;  
    position: absolute;
    top: 0;
  }
  .forward_arrow {
    right: 10px;
  }
  .back_arrow {
    left: 10px;
    color: #5585D7;
  }
}

.validation_error {
  color: red;
}