// Just a bit of custom css to make sure it works.  We can delete it later.

// Example of mixins in action
//body {
//  @include square(10px);
//  @include border-radius(5px);
//}

// height/width are sort of arbitrary for a "standard" mobile form factor
$width: 400px;
$height: 600px;

.patient {
  color: red;
  position: fixed;
  width: $width;
  height: $height;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -($height/2);
  margin-left: -($width/2);
}