.activation-header
  =image_tag 'mdsol_patient_cloud_retina.png', :class => 'logo'
.activation-code-content
  %h2.code_enter="Please enter your activation code"
  .instruction="If you have already registered, please return to the Patient Cloud App. If you have not registered and do not have an activation code or email invite please contact your doctor."
  %input.code#code-1{:maxlength => 1}
  %input.code#code-2{:maxlength => 1}
  %input.code#code-3{:maxlength => 1}
  %input.code#code-4{:maxlength => 1}
  %input.code#code-5{:maxlength => 1}
  %input.code#code-6{:maxlength => 1}
  .validation_error.invisible="Activation code should only have letters or numbers"
