- content_for :page_body do
  .activation-header
    =image_tag 'mdsol_patient_cloud_retina.png', :class => 'logo'
  .activation-code-content
    %h3 Please enter your activation code
    %p= "If you have already registered, please return to the Patient Cloud App. If you have not registered and do not have an activation code or email invite please contact your doctor."
    .activation-code
      %input.code#code-1{maxlength: 1, tabindex: 1, size: 1}
      %input.code#code-2{maxlength: 1, tabindex: 2, size: 1}
      %input.code#code-3{maxlength: 1, tabindex: 3, size: 1}
      %input.code#code-4{maxlength: 1, tabindex: 4, size: 1}
      %input.code#code-5{maxlength: 1, tabindex: 5, size: 1}
      %input.code#code-6{maxlength: 1, tabindex: 6, size: 1}
    .validation_error.invisible="Activation code should only have letters or numbers"

