- content_for :page_body do
  .activation-header
    =image_tag 'mdsol_patient_cloud_retina.png', :class => 'logo'
  .activation-code-content
    %h3= t("activation_codes.index.code_heading")
    %p= t("activation_codes.index.code_instruction")
    .activation-code
      %input#code{maxlength: 6, tabindex: 1, size: 6}
        .validation_error.invisible= t("activation_codes.index.validation_error")
  .bottom-bar
    %a.btn.btn-primary.btn-block.disabled#activate-button(href="" role="button")= 'Activate'
